.station
    border-bottom 1px solid #eee

footer
    text-align center
    margin-bottom 8px

.content
    margin 10px

.station
    margin-bottom 4px
.station .name
    font-weight bold

#loading-spinner
    text-align center
    font-size 120 px
    margin-top 55px
    margin-bottom 55px

.time-table
    width 100%

/*
Color dots for lines
*/

mRed    = rgb(255,0,0)
mOrange = rgb(227,138,1)
mSilver = rgb(181,181,181)
mBlue   = rgb(3,144,213)
mYellow = rgb(248,214,25)
mGreen  = rgb(0,175,82)

.line-RD i
    color mRed
.line-OR i
    color mOrange
.line-SV i
    color mSilver
.line-BL i
    color mBlue
.line-YL i
    color mYellow
.line-GR i
    color mGreen
