html(ng-app='metroApp')
  head
    //- vendor scripts
    script(src='/vendor/jquery/jquery.js')
    script(src='/vendor/angular/angular.js')
    script(src='/vendor/foundation/foundation.js')

    //- vendor style
    link(rel='stylesheet', href='/vendor/foundation/foundation.css')
    link(rel='stylesheet', href='/vendor/foundation/normalize.css')
    link(rel='stylesheet', href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")

    //- my scripts
    script(src='index.js')
    script(src='controllers.js')
    link(rel='stylesheet', href='style.css')

    //- misc settings
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=0")

    title WMATA Watch

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43864736-7', 'auto');
      ga('send', 'pageview');

  body(ng-controller='StationListCtrl')
    div.contain-to-grid.sticky
      //- top bar
      nav.top-bar(data-topbar)
        ul.title-area
          li.name
            h1
              a(href='#') WMATA Watch

        section.top-bar-section.show-for-medium-up
          ul.right
            li.has-form
              div.row.collapse
                div.small-12.columns
                  input#filter(ng-model="stationName", type='text', placeholder="Filter by station name...")

    .content
      //- filter input field
      div.show-for-small-only
        input#filter(ng-model="stationName", type='text', placeholder="Filter by station name...")

      //- loading spinner
      .row#loading-spinner
        div.small-12.columns
          div.small-block-grid-12
            i.fa.fa-circle-o-notch.fa-spin

      //- grid boxes go here
      .row
        div.small-12.columns
          ul.small-block-grid-1.medium-block-grid-3.large-block-grid-4
            li.station(ng-repeat="station in stations | orderBy:'name' | filter:stationName")
              div.name {{station.name}}
              div(ng-repeat="(line,trains) in station.data")
                table.time-table
                  thead
                    tr
                      th.line(class="line-{{line}}")
                        | {{line}} 
                        i.fa.fa-circle
                      th 
                  tbody
                    tr(ng-repeat="(dest, time) in trains")
                      td {{dest}}
                      td {{time}}

    footer
      div
        | Crafted by 
        a(href='https://twitter.com/CasuallyCraig') @CasuallyCraig 
        | - July 16, 2014
