head
  //- vendor scripts
  script(src='/vendor/jquery/jquery.js')

  //- my scripts
  script(src='index.js')
  link(rel='stylesheet', href='style.css')

  //- misc settings
  meta(name="viewport", content="width=device-width, user-scalable=no")

body


  footer
    p
      | Crafted by 
      a(href='https://twitter.com/CasuallyCraig') @CasuallyCraig 
      | - July 13, 2014
